html {
    font-family: Mulish;
}

.Nav-link {
    Color:orange; 
    text-decoration: none!important;
    cursor: pointer;
}

main {
    max-width: 600px;
    width: 100%;
   /* margin-top: 24px;
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;
     margin: 24px auto 24px auto;*/
    margin: 24px auto;
}
se
ction{
    margin: 24px 0;
    padding: 16px;
}

#title {
    font-size: 40px;
    font-weight: 800;
}

.d-inline {
    display: inline;
}

nav > ul {
    list-style: none;

}

body {
    background-color: #222222;
    color: #eee;
}

#avatar{
    width: 100px;
    display: block;
    margin: 32px auto;
    

}

footer {
    text-align: center;
}
body{
    position: relative;
    background-color: #222;
    color: #eee;
}

header{
    position: sticky;
    top: 25px;
}
